body { background: url(mediaicon/login.jpg);
	   background-repeat: no-repeat;
	   background-size: cover;
	   height: 100vh;

     }


     /**  for home buttom **/
     .left {
     float: left;
     top: 100%;
}
.left ul{
                    list-style: none;
                    padding: 1em 3em;
           }

   .right ul li {
       display:inline-block; 
   }     

   .left ul li a{
                            text-decoration: none;
                            color: #fff;
                            font-weight: 500;
                            padding: 8px 16px;
                    } 

                 .left li:nth-child(1) a{
                                         border:1px solid #fff;
                                         border-radius: 4px;    
                                       }  

                          /*** end homr****/

    .login { 
    	      max-width:300px;
    	      border-radius: 20px;
    	      margin:auto;
    	      background:rgba(0,0,0,0.8);
    	      box-sizing:border-box; 
              padding:40px;
              color:#fff;
               margin-top: 100px;


          }
          input[type=text] ,input[type=password]{ width: 100%;
          	                                      padding: 12px 5px;
          	                                      box-sizing: border-box;
          	                                      background: rgba(0,0,0,0.10);
          	                                      outline: none;
          	                                      border:none;
          	                                      border-bottom: 1px dotted #fff;
          	                                      color:#fff;
          	                                      	border-radius: 5px;
          	                                      		margin:5PX;
        	                                 font-weight: bold;

                                               }  
       input[type=submit]
       {  width: 100%;
         box-sizing: border-box;
         padding:10px 0;
         margin-top: 30px;
         outline:none;
         border:none;
         background: #60ADDE;
         opacity: 	0.7;
         border-radius: 20px;
         font-size: 20px;
         color: #fff;
       }

      .id a{ font-size: px;
      	      color: #fff;

           }
            input[type=submit]:hover { background:#003366;
                                  opacity: 0.7;  

                                 }
      